<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <form method='post' action='/team'>
    <h1>Create a Basketball Team!</h1>
    <div>
      <label for='name'>Team Name:</label>
      <input type='text-field' name='name'>
    </div>
    <div>
      <label for='coach'>Coach:</label>
      <input type='text-field' name='coach'>
    </div>
    <div>
      <label for='pg'>Point Guard:</label>
      <input type='text-field' name='pg'>
    </div>
    <div>
      <label for='sg'>Shootin Guard:</label>
      <input type='text-field' name='sg'>
    </div>
    <div>
      <label for='sf'>Small Forward:</label>
      <input type='text-field' name='sf'>
    </div>
    <div>
      <label for='pf'>Power Forward:</label>
      <input type='text-field' name='pf'>
    </div>
    <div>
      <label for='c'>Center:</label>
      <input type='text-field' name='c'>
    </div>
    <div>
    <input type='submit' id='Submit'>
  </form>
 </body>
</html>


